﻿<div class="jumbotron">
    <h2>AUTH Microservice</h2>
    @*<p class="lead">Authentication Microservice API links</p>*@
</div>
<div class="row">
    <h6 class="col-md-4">
        
        <h3>Authentication Microservice API</h3>
        <li> https://authenticationserver5.azurewebsites.net/api/Request/Auth/pass/StoreProduct/password</li>
        <li> https://authenticationserver5.azurewebsites.net/api/Log/json/pass  </li>
        <li> https://authenticationserver5.azurewebsites.net/api/log/human/pass</li>
        <li> https://authenticationserver5.azurewebsites.net/api/log/ListServices/pass  </li>
        <li> https://authenticationserver5.azurewebsites.net/api/log/ListClients/pass  </li>
        <li> https://authenticationserver5.azurewebsites.net/api/Directive/pass/StoreProduct/All-136127361238761238 </li>
        <li> https://authenticationserver5.azurewebsites.net/api/Directive/Reset/pass</li>


        <h3>Test Client Implementation API</h3>
        <li> http://apiclient4.azurewebsites.net/api/front?s=NewsLetters&key=lars&q=test  (accepted)</li>
        <li> http://apiclient4.azurewebsites.net/api/front?s=NewsLetters&key=gitte&q=test  (denied)</li>
        <li> http://apiclient4.azurewebsites.net/api/front?s=StoreProduct&key=gitte&q=test (accepted)</li>
        <li> http://apiclient4.azurewebsites.net/api/log/human/pass </li>
        <li> http://apiclient4.azurewebsites.net/api/log/json/pass </li>

            <h6>(pass==general password for this service | StoreProduct==one of the DS Microservices)</h6>

        <h6>2015-12-10</h6>
</div>
</div>
