﻿@model Klingsten.DirectiveClassLibrary.Models.VmService

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VmService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apikey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apikey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.httpGet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.httpGet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.httpPut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.httpPut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.httpPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.httpPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOutMilliSec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOutMilliSec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cacheSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cacheSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
