﻿@model IEnumerable<Klingsten.DirectiveClassLibrary.Models.VmService>

@{
    ViewBag.Title = "Services";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.apikey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.httpGet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.httpPut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.httpPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOutMilliSec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cacheSeconds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestFormat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.apikey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reset)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.httpGet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.httpPut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.httpPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOutMilliSec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cacheSeconds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestFormat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEnabled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
         
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>


