﻿@model IEnumerable<Klingsten.DirectiveClassLibrary.Models.VmEndPoint>


@{
    var count = Model.Count();
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Deployment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </th>
        <th></th>
    </tr>

    @foreach (Klingsten.DirectiveClassLibrary.Models.VmEndPoint item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deployment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEndPoint", new { id = item.Id })

                @if (count != 1) {
                    @Html.ActionLink("Delete", "DeleteEndPoint", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
