﻿@model IEnumerable<Klingsten.DirectiveClassLibrary.Models.LogEntry>

@{
    ViewBag.Title = "Logs";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th align="right">
            MilliSeconds
        </th>


    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.millisec)
            </td>
        </tr>
    }

</table>
