﻿@model Klingsten.DirectiveClassLibrary.Models.VmUserService

@{
    ViewBag.Title = "DeleteUserService";
}

<h2>DeleteUserService</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VmUserService</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.httpGet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.httpGet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.httpPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.httpPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.httpPut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.httpPut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |

        </div>
    }
</div>
