﻿@model IEnumerable<Klingsten.DirectiveClassLibrary.Models.VmUserService>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.httpGet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.httpPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.httpPut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.httpGet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.httpPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.httpPut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUserService", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteUserService", new { id = item.Id, userID = item.UserID })
            </td>
        </tr>
    }

</table>
